<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="content.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="menueffect.css">
</head>

<body>


<div class="header">
    <div class="top_header">
        <div class="list_left">
            <div class="div">
                <a href="">Kết nối </a>
            </div>
            <div class=""></div>
            <div class="div">
                <a href="">
                    <div class="fa fa-facebook" aria-hidden="true"></div>
                </a>
                <a href="">
                    <div class="fa fa-instagram" aria-hidden="true"></div>
                </a>
            </div>
        </div>
        <div class="space"></div>
        <div class="list_right">
            <ul class="list_right">
                <li>
                    <a href="">Thông báo</a>
                </li>
                <li>
                    <a href="">Đăng ký</a>
                </li>
                <li>
                    <a href="">Đăng nhập</a>
                </li>
            </ul>
        </div>
        <!--het phan top header --------------------------------------------------------------------------------->
    </div>
    <div class="bottom_header">
        <div class="menu">
            <li>
                <a href="">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>

                <ul>


                    <li class="menu_item">
                        <a href="" class="menu_item__menu_link">
                                <span class="icon_wrap">
                                                             <i class="fa fa-mobile-phone" aria-hidden="true"></i>
                                                    </span>
                            <span class="text">
                            Điện thoại- Máy tính bảng
                                                    </span>
                        </a>
                    </li>

                    <li class="menu_item">
                        <a href="" class="menu_item__menu_link">
                                <span class="icon_wrap">
                                                                <i class="fa fa-television" aria-hidden="true"></i>
                                                        </span>
                            <span class="text">
                                Điện tử- Điện lạnh
                                                        </span>
                        </a>
                    </li>

                    <li class="menu_item">
                        <a href="" class="menu_item__menu_link">
                                <span class="icon_wrap">
                                                                <i class="fa fa-headphones" aria-hidden="true"></i>
                                                        </span>
                            <span class="text">
                                Phụ kiện - Thiết bị số
                                                        </span>
                        </a>
                    </li>

                    <li class="menu_item">
                        <a href="" class="menu_item__menu_link">
                                <span class="icon_wrap">
                                                                    <i class="fa fa-laptop" aria-hidden="true"></i>
                                                            </span>
                            <span class="text">
                                    Lap top- Thiết bị IT
                                                            </span>
                        </a>
                    </li>

                    <li class="menu_item">
                        <a href="" class="menu_item__menu_link">
                                <span class="icon_wrap">
                                                                       <i class="fa fa-camera" aria-hidden="true"></i>
                                                                </span>
                            <span class="text">
                                        Máy ảnh - Quay phim
                                                                </span>
                        </a>
                    </li>

                    <li class="menu_item">
                        <a href="" class="menu_item__menu_link">
                                <span class="icon_wrap">
                                                                          <i class="fa fa-plug" aria-hidden="true"></i>
                                                                    </span>
                            <span class="text">
                                            Điện gia dụng
                                                                    </span>
                        </a>
                    </li>

                    <li class="menu_item">
                        <a href="" class="menu_item__menu_link">
                                <span class="icon_wrap">
                                                                               <i class="fa fa-home"
                                                                                  aria-hidden="true"></i>
                                                                        </span>
                            <span class="text">
                                                Nhà cửa Đời sống
                                                                        </span>
                        </a>
                    </li>

                    <li class="menu_item">
                        <a href="" class="menu_item__menu_link">
                                <span class="icon_wrap">
                                                                                    <i class="fa fa-cart-plus"
                                                                                       aria-hidden="true"></i>
                                                                            </span>
                            <span class="text">
                                                    Hàng tiêu dùng- Thực phẩm
                                                                            </span>
                        </a>
                    </li>

                    <li class="menu_item">
                        <a href="" class="menu_item__menu_link">
                                <span class="icon_wrap">
                                                                                  <i class="fa fa-trophy"
                                                                                     aria-hidden="true"></i>
                                                                                </span>
                            <span class="text">
                                                     Đồ chơi, Mẹ và bé
                                                                                </span>
                        </a>
                    </li>

                    <li class="menu_item">
                        <a href="" class="menu_item__menu_link">
                                <span class="icon_wrap">
                                                                                            <i class="fa fa-hand-o-up"
                                                                                               aria-hidden="true"></i>
                                                                                    </span>
                            <span class="text">
                                                          Làm đẹp - Sức khỏe
                                                                                    </span>
                        </a>
                    </li>

                    <li class="menu_item">
                        <a href="" class="menu_item__menu_link">
                                <span class="icon_wrap">
                                                                                                <i class="fa fa-shirtsinbulk"
                                                                                                   aria-hidden="true"></i>
                                                                                        </span>
                            <span class="text">
                                                                Thời trang - Phụ kiện
                                                                                        </span>
                        </a>
                    </li>

                    <li class="menu_item">
                        <a href="" class="menu_item__menu_link">
                                <span class="icon_wrap">
                                                                                                   <i class="fa fa-plus-circle"
                                                                                                      aria-hidden="true"></i>
                                                                                            </span>
                            <span class="text">
                                                                    Thể thao - Dã ngoại
                                                                                            </span>
                        </a>
                    </li>

                    <li class="menu_item">
                        <a href="" class="menu_item__menu_link">
                                <span class="icon_wrap">
                                                                                                       <i class="fa fa-car"
                                                                                                          aria-hidden="true"></i>
                                                                                                </span>
                            <span class="text">
                                                                        Xe Máy, Ô tô, Xe đạp
                                                                                                </span>
                        </a>
                    </li>

                    <li class="menu_item">
                        <a href="" class="menu_item__menu_link">
                                <span class="icon_wrap">
                                                                                                            <i class="fa fa-wordpress"
                                                                                                               aria-hidden="true"></i>
                                                                                                    </span>
                            <span class="text">
                                                                            Hàng quốc tế
                                                                                                    </span>
                        </a>
                    </li>

                    <li class="menu_item">
                        <a href="" class="menu_item__menu_link">
                                <span class="icon_wrap">
                                                                                                               <i class="fa fa-book"
                                                                                                                  aria-hidden="true"></i>
                                                                                                        </span>
                            <span class="text">
                                                                               Sách, VPP và Quà tặng
                                                                                                        </span>
                        </a>
                    </li>
                </ul>
            </li>

        </div>
        <div class="icon">
            <a href="">
                <img src="http://cafefcdn.com/thumb_w/650/2019/3/23/photo1553305754804-1553305754845-crop-1553305781916431059637-15533073973331808241537-crop-15533074153771182913609.jpg"
                     alt="">
            </a>
        </div>
        <div class="search_box">

            <form action="" class="search_form">
                <input type="text">
            </form>

            <div class="button">
                <button type="submit">
                    <svg class="shopee-svg-icon " height="19" viewBox="0 0 19 19" width="19">
                        <g fill-rule="evenodd" stroke="none" stroke-width="1">
                            <g transform="translate(-1016 -32)">
                                <g>
                                    <g transform="translate(405 21)">
                                        <g transform="translate(611 11)">
                                            <path d="m8 16c4.418278 0 8-3.581722 8-8s-3.581722-8-8-8-8 3.581722-8 8 3.581722 8 8 8zm0-2c-3.3137085 0-6-2.6862915-6-6s2.6862915-6 6-6 6 2.6862915 6 6-2.6862915 6-6 6z"></path>
                                            <path d="m12.2972351 13.7114222 4.9799555 4.919354c.3929077.3881263 1.0260608.3842503 1.4141871-.0086574.3881263-.3929076.3842503-1.0260607-.0086574-1.414187l-4.9799554-4.919354c-.3929077-.3881263-1.0260608-.3842503-1.4141871.0086573-.3881263.3929077-.3842503 1.0260608.0086573 1.4141871z"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </button>
            </div>


        </div>
        <div class="cart_icon">
            <a href="">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
<!--het phan header ---------------------------------------------------------------------------------->


<div class="content">
    <div class="content_top">
        <div class="menu_list">
            <ul>
                <li class="menu_item">
                    <a href="" class="menu_item__menu_link">
                            <span class="icon_wrap">
                                         <i class="fa fa-mobile-phone" aria-hidden="true"></i>
                                </span>
                        <span class="text">
        Điện thoại- Máy tính bảng
                                </span>
                    </a>
                </li>

                <li class="menu_item">
                    <a href="" class="menu_item__menu_link">
                            <span class="icon_wrap">
                                            <i class="fa fa-television" aria-hidden="true"></i>
                                    </span>
                        <span class="text">
            Điện tử- Điện lạnh
                                    </span>
                    </a>
                </li>

                <li class="menu_item">
                    <a href="" class="menu_item__menu_link">
                            <span class="icon_wrap">
                                            <i class="fa fa-headphones" aria-hidden="true"></i>
                                    </span>
                        <span class="text">
            Phụ kiện - Thiết bị số
                                    </span>
                    </a>
                </li>

                <li class="menu_item">
                    <a href="" class="menu_item__menu_link">
                            <span class="icon_wrap">
                                                <i class="fa fa-laptop" aria-hidden="true"></i>
                                        </span>
                        <span class="text">
                Lap top- Thiết bị IT
                                        </span>
                    </a>
                </li>

                <li class="menu_item">
                    <a href="" class="menu_item__menu_link">
                            <span class="icon_wrap">
                                                   <i class="fa fa-camera" aria-hidden="true"></i>
                                            </span>
                        <span class="text">
                    Máy ảnh - Quay phim
                                            </span>
                    </a>
                </li>

                <li class="menu_item">
                    <a href="" class="menu_item__menu_link">
                            <span class="icon_wrap">
                                                      <i class="fa fa-plug" aria-hidden="true"></i>
                                                </span>
                        <span class="text">
                        Điện gia dụng
                                                </span>
                    </a>
                </li>

                <li class="menu_item">
                    <a href="" class="menu_item__menu_link">
                            <span class="icon_wrap">
                                                           <i class="fa fa-home" aria-hidden="true"></i>
                                                    </span>
                        <span class="text">
                            Nhà cửa Đời sống
                                                    </span>
                    </a>
                </li>

                <li class="menu_item">
                    <a href="" class="menu_item__menu_link">
                            <span class="icon_wrap">
                                                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                                        </span>
                        <span class="text">
                                Hàng tiêu dùng- Thực phẩm
                                                        </span>
                    </a>
                </li>

                <li class="menu_item">
                    <a href="" class="menu_item__menu_link">
                            <span class="icon_wrap">
                                                              <i class="fa fa-trophy" aria-hidden="true"></i>
                                                            </span>
                        <span class="text">
                                 Đồ chơi, Mẹ và bé
                                                            </span>
                    </a>
                </li>

                <li class="menu_item">
                    <a href="" class="menu_item__menu_link">
                            <span class="icon_wrap">
                                                                        <i class="fa fa-hand-o-up"
                                                                           aria-hidden="true"></i>
                                                                </span>
                        <span class="text">
                                      Làm đẹp - Sức khỏe
                                                                </span>
                    </a>
                </li>

                <li class="menu_item">
                    <a href="" class="menu_item__menu_link">
                            <span class="icon_wrap">
                                                                            <i class="fa fa-shirtsinbulk"
                                                                               aria-hidden="true"></i>
                                                                    </span>
                        <span class="text">
                                            Thời trang - Phụ kiện
                                                                    </span>
                    </a>
                </li>

                <li class="menu_item">
                    <a href="" class="menu_item__menu_link">
                            <span class="icon_wrap">
                                                                               <i class="fa fa-plus-circle"
                                                                                  aria-hidden="true"></i>
                                                                        </span>
                        <span class="text">
                                                Thể thao - Dã ngoại
                                                                        </span>
                    </a>
                </li>

                <li class="menu_item">
                    <a href="" class="menu_item__menu_link">
                            <span class="icon_wrap">
                                                                                   <i class="fa fa-car"
                                                                                      aria-hidden="true"></i>
                                                                            </span>
                        <span class="text">
                                                    Xe Máy, Ô tô, Xe đạp
                                                                            </span>
                    </a>
                </li>

                <li class="menu_item">
                    <a href="" class="menu_item__menu_link">
                            <span class="icon_wrap">
                                                                                        <i class="fa fa-wordpress"
                                                                                           aria-hidden="true"></i>
                                                                                </span>
                        <span class="text">
                                                        Hàng quốc tế
                                                                                </span>
                    </a>
                </li>

                <li class="menu_item">
                    <a href="" class="menu_item__menu_link">
                            <span class="icon_wrap">
                                                                                           <i class="fa fa-book"
                                                                                              aria-hidden="true"></i>
                                                                                    </span>
                        <span class="text">
                                                           Sách, VPP và Quà tặng
                                                                                    </span>
                    </a>
                </li>
            </ul>

        </div>

        <!--het phan list menu---------------------------------------------------------------------------------------->
        <div class="banner">
            <div class="banner_slide">
                <div id="banner_img" class="carousel slide my_slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#banner_img" data-slide-to="0" class="active"></li>
                        <li data-target="#banner_img" data-slide-to="1"></li>
                        <li data-target="#banner_img" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img src="https://salt.tikicdn.com/cache/w584/ts/banner/be/0d/af/df80f506120100fcdc271573736db499.jpg"
                                 alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="https://salt.tikicdn.com/cache/w584/ts/banner/2f/26/ac/a96862a7b089335e00bad753c45dccc7.jpg"
                                 alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="https://salt.tikicdn.com/cache/w584/ts/banner/ea/fc/9c/a5628dfd4395cc4b3ef3338f7206a32e.jpg"
                                 alt="">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#banner_img" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#banner_img" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="banner_img">
                <div class="img_left">
                    <img src="https://salt.tikicdn.com/cache/w292/ts/banner/12/90/d8/a9ec15876fca56b091bef2a94f57979d.png"
                         alt="">
                </div>
                <div class="img_right">
                    <img src="https://salt.tikicdn.com/cache/w292/ts/banner/b1/94/f9/89b218259553bb6ecc3a969a43e13cf2.png"
                         alt="">
                </div>
            </div>
        </div>
    </div>


    <div class="content_bottom">

        <h4 class="kind_of_name">
            NGÀNH HÀNG QUAN TÂM
        </h4>

        <div th:each="type : ${types}">
            <h4 class="kind_of_name" th:text="${type.name}">

            </h4>

            <div class="list_content">
                <a th:each="product : ${type.products}" href="" title="iPad WiFi 32GB New 2018 - Hàng Chính Hãng"
                   class="item_wrapper" style="width: 20%;">
                    <div class="item_picture">
                        <img src="https://salt.tikicdn.com/cache/280x280/ts/product/a5/b1/03/60de1319622d3775ed78fa2199dcb317.jpg"
                             alt="" class="image_wrapper" style=" opacity: 1;">
                    </div>
                    <p class="title" style="height: 40px;" th:text="${product.nameProduct}">

                    </p>
                    <p class="price" th:text="${product.price}">

                    </p>
                    <div class="gray-badge">

                    </div>
                    <div class="bottom" style="justify-content: flex-end;">
                    </div>
                </a>

            </div>
        </div>

    </div>

</div>
<div class="footer">
    <div class="small_footer">
        <div class="_3swqId">

            <ul class="_26V61z">
                <div class="_3thf1m">Chăm sóc khách hàng</div>
                <li class="_3W4cjt">
                    <a href="https://help.shopee.vn/hc/vi" class="_3hRS59">Trung tâm trợ giúp</a>
                </li>
                <li class="_3W4cjt">
                    <a href="https://help.shopee.vn/hc/vi/articles/115010699387" class="_3hRS59">Shopee Mall</a>
                </li>
                <li class="_3W4cjt">
                    <a href="https://help.shopee.vn/hc/vi/articles/115007694127" class="_3hRS59">Hướng dẫn mua hàng</a>
                </li>
                <li class="_3W4cjt">
                    <a href="https://help.shopee.vn/hc/vi/articles/115007818347" class="_3hRS59">Hướng dẫn bán hàng</a>
                </li>
                <li class="_3W4cjt">
                    <a href="https://help.shopee.vn/hc/vi/sections/115002212027" class="_3hRS59">Thanh toán</a>
                </li>
                <li class="_3W4cjt">
                    <a href="https://help.shopee.vn/hc/vi/sections/115002237388" class="_3hRS59">Shopee Xu</a>
                </li>
                <li class="_3W4cjt">
                    <a href="https://help.shopee.vn/hc/vi/sections/115002240007" class="_3hRS59">Vận chuyển</a>
                </li>
                <li class="_3W4cjt">
                    <a href="https://help.shopee.vn/hc/vi/sections/115002237508" class="_3hRS59">Trả hàng &amp; Hoàn
                        tiền</a>
                </li>
                <li class="_3W4cjt">
                    <a href="https://help.shopee.vn/hc/vi/articles/115007912708" class="_3hRS59">Chăm sóc khách hàng</a>
                </li>
                <li class="_3W4cjt">
                    <a href="https://help.shopee.vn/hc/vi/articles/360000641708" class="_3hRS59">Chính sách bảo hành</a>
                </li>
            </ul>
        </div>


        <div class="_1cJlGq">

            <ul class="_1EeFJI">
                <div class="_3T6zcT">Về Shopee</div>
                <li class="_2tLfDF"><a href="https://careers.shopee.com/about/" class="_2TLzdl">Giới thiệu về Shopee
                    Việt Nam</a></li>
                <li class="_2tLfDF"><a href="https://careers.shopee.com/jobs" class="_2TLzdl">Tuyển dụng</a></li>
                <li class="_2tLfDF"><a href="https://shopee.vn/legaldoc/policies/" class="_2TLzdl">Điều Khoản Shopee</a>
                </li>
                <li class="_2tLfDF"><a href="https://shopee.vn/docs/3603" class="_2TLzdl">Chính sách bảo mật</a></li>
                <li class="_2tLfDF"><a href="https://shopee.vn/mall/" class="_2TLzdl">Chính Hãng</a></li>
                <li class="_2tLfDF"><a href="https://banhang.shopee.vn/" class="_2TLzdl">Kênh Người bán</a></li>
                <li class="_2tLfDF"><a href="https://shopee.vn/flash_sale/" class="_2TLzdl">Flash Sales</a></li>
            </ul>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>