<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="list-page.css">
    <link rel="stylesheet" href="content.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>List Page</title>
</head>

<body>
<div class="header">
    <div class="top_header">
        <div class="list_left">
            <div class="div">
                <a href="">Kết nối </a>
            </div>
            <div class=""></div>
            <div class="div">
                <a href="">
                    <div class="fa fa-facebook" aria-hidden="true"></div>
                </a>
                <a href="">
                    <div class="fa fa-instagram" aria-hidden="true"></div>
                </a>
            </div>
        </div>
        <div class="space"></div>
        <div class="list_right">
            <ul class="list_right">
                <li>
                    <a href="">Thông báo</a>
                </li>
                <li>
                    <a href="">Đăng ký</a>
                </li>
                <li>
                    <a href="">Đăng nhập</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="bottom_header">
        <div class="menu">
            <a href="">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </a>

        </div>
        <div class="icon">
            <a href="">
                <img src="http://cafefcdn.com/thumb_w/650/2019/3/23/photo1553305754804-1553305754845-crop-1553305781916431059637-15533073973331808241537-crop-15533074153771182913609.jpg"
                     alt="">
            </a>
        </div>
        <div class="search_box">

            <form action="" class="search_form">
                <input type="text">
            </form>

            <div class="button">
                <button type="submit">
                    <svg class="shopee-svg-icon " height="19" viewBox="0 0 19 19" width="19">
                        <g fill-rule="evenodd" stroke="none" stroke-width="1">
                            <g transform="translate(-1016 -32)">
                                <g>
                                    <g transform="translate(405 21)">
                                        <g transform="translate(611 11)">
                                            <path d="m8 16c4.418278 0 8-3.581722 8-8s-3.581722-8-8-8-8 3.581722-8 8 3.581722 8 8 8zm0-2c-3.3137085 0-6-2.6862915-6-6s2.6862915-6 6-6 6 2.6862915 6 6-2.6862915 6-6 6z"></path>
                                            <path d="m12.2972351 13.7114222 4.9799555 4.919354c.3929077.3881263 1.0260608.3842503 1.4141871-.0086574.3881263-.3929076.3842503-1.0260607-.0086574-1.414187l-4.9799554-4.919354c-.3929077-.3881263-1.0260608-.3842503-1.4141871.0086573-.3881263.3929077-.3842503 1.0260608.0086573 1.4141871z"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </button>
            </div>


        </div>
        <div class="cart_icon">
            <a href="">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-4 row">
            <div class="col-12 mt-5">
                <div class="list-menu">
                    <p>Danh mục sản phẩm</p>
                    <a href="#" class="list-group-item list-group-item-action ">Loại sản phẩm 1</a>
                    <a href="#" class="list-group-item list-group-item-action ">Loại sản phẩm 2</a>
                    <a href="#" class="list-group-item list-group-item-action ">Loại sản phẩm 3</a>
                    <a href="#" class="list-group-item list-group-item-action ">Loại sản phẩm 4</a>
                    <a href="#" class="list-group-item list-group-item-action ">Loại sản phẩm 4</a>
                    <a href="#" class="list-group-item list-group-item-action ">Loại sản phẩm 5</a>
                    <a href="#" class="list-group-item list-group-item-action ">Loại sản phẩm 6</a>
                    <a href="#" class="list-group-item list-group-item-action ">Loại sản phẩm 7</a>
                </div>
            </div>
            <div class="col-12 mt-5">
                <div class="list-group">
                    <p> Nhà sản xuất</p>
                    <a href="#" class="list-group-item list-group-item-action ">NSX 1</a>
                    <a href="#" class="list-group-item list-group-item-action ">NSX 2</a>
                    <a href="#" class="list-group-item list-group-item-action ">NSX 3</a>
                    <a href="#" class="list-group-item list-group-item-action ">NSX 4</a>
                    <a href="#" class="list-group-item list-group-item-action ">NSX 5</a>
                    <a href="#" class="list-group-item list-group-item-action ">NSX 6</a>
                    <a href="#" class="list-group-item list-group-item-action ">NSX 7</a>
                    <a href="#" class="list-group-item list-group-item-action ">NSX 8</a>
                </div>
            </div>

            <div class="col-12 mt-5">
                <div class="list-group">
                    <p>Khoảng giá:</p>
                    <a href="#" class="list-group-item list-group-item-action "> Từ ... đến ...</a>
                    <a href="#" class="list-group-item list-group-item-action ">Từ ... đến ...</a>
                    <a href="#" class="list-group-item list-group-item-action ">Từ ... đến ...</a>
                    <a href="#" class="list-group-item list-group-item-action ">Từ ... đến ...</a>
                    <a href="#" class="list-group-item list-group-item-action ">Từ ... đến ...</a>
                    <a href="#" class="list-group-item list-group-item-action ">Từ ... đến ...</a>
                    <a href="#" class="list-group-item list-group-item-action ">Từ ... đến ...</a>
                    <a href="#" class="list-group-item list-group-item-action ">Từ ... đến ...</a>
                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4 mb-5 mt-5" th:each="product : ${products}">
                        <div class="card">
                            <img src="1.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${product.nameProduct}"></h5>
                                <p class="card-text" th:text="${product.price}"></p>
                                <p class="card-text" th:text="${product.details}"></p>
                                <a href="#" class="btn btn-primary" >Mua</a>
                            </div>
                        </div>
                    </div>

<!--                    <div class="col-4 mb-5 mt-5">-->
<!--                        <div class="card">-->
<!--                            <img src="1.jpg" class="card-img-top" alt="">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title">Tên sản phẩm</h5>-->
<!--                                <p class="card-text">Giá</p>-->
<!--                                <p class="card-text">Chi tiết</p>-->
<!--                                <a href="#" class="btn btn-primary">Mua</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-4 mb-5 mt-5">-->
<!--                        <div class="card">-->
<!--                            <img src="1.jpg" class="card-img-top" alt="">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title">Tên sản phẩm</h5>-->
<!--                                <p class="card-text">Giá</p>-->
<!--                                <p class="card-text">Chi tiết</p>-->
<!--                                <a href="#" class="btn btn-primary">Mua</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-4 mb-5 mt-5">-->
<!--                        <div class="card">-->
<!--                            <img src="1.jpg" class="card-img-top" alt="">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title">Tên sản phẩm</h5>-->
<!--                                <p class="card-text">Giá</p>-->
<!--                                <p class="card-text">Chi tiết</p>-->
<!--                                <a href="#" class="btn btn-primary">Mua</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>