.header {
    background: #f53d2d;
    background: -webkit-gradient(linear, left top, left bottom, from(#f53d2d), to(#f63));
    background: linear-gradient(-180deg, #f53d2d, #f63);
    height: 119px;
    display: block;
}

.top_header {
    display: flex;
    width: 1200px;
    height: 34px;
    margin: auto;
}

.top_header .list_left {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 0;
}

.top_header .list_left a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    padding: 0 .4375rem;
    border-right: 2px solid hsla(0, 0%, 100%, .22);
}

.top_header .list_right {
    margin: auto;
}

ul.list_right {
    display: flex;
    list-style: none;
    text-align: center;
}

ul.list_right li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    padding: 0 .4375rem;
    border-right: 2px solid hsla(0, 0%, 100%, .22);
}

.top_header .space {
    width: 546px;
}


/*hết phần top_header*/

.bottom_header {
    width: 1200px;
    height: 85px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.bottom_header .menu {
    width: 60px;
    height: 60px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0.6px;
    justify-content: space-between;
}

.bottom_header .menu a i {
    color: #fff;
    width: 100%;
    font-size: 30px;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.bottom_header .icon {
    position: relative;
    width: 162px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.bottom_header .icon a img {
    width: 146.15px;
    height: 46.73px;
}

.search_box {
    display: flex;
    width: 840px;
    height: 60px;
    position: relative;
    margin: auto;
}

.search_box form.search_form {
    background-color: #fff;
    border-color: #fff;
    box-sizing: border-box;
    width: 774px;
    height: 34px;
}

.bottom_header .search_box form.search_form input {
    width: 774px;
    height: 32px;
    border: 0;
}

.bottom_header .search_box .button button {
    width: 60px;
    height: 34px;
    background: #f63;
    border: 0;
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    border: 0;
}

.cart_icon {
    height: 60px;
}

.cart_icon a i {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 300;
    margin-top: 10px;
}

.menu li{

    margin: 0px;
    padding: 0px;
    list-style: none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 10px;
}

.grid-container > .item1 {
    grid-row: 1 / 4;
}

.grid-container{
    display: grid;
}

div.item {

    width: 50%;
    margin: 0 auto;
}

div.item_note {
    text-align: center;
    padding: 10px 20px;
}

.card {
    width: 15rem;
}