.footer {
    background: #f53d2d;
    background: -webkit-gradient(linear, left top, left bottom, from(#f53d2d), to(#f63));
    background: linear-gradient(-180deg, #f53d2d, #f63);
    height: 300px;
    display: block;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer .small_footer {
    display: flex;
}

.footer .small_footer ._3swqId {
    margin-top: 30px;
}

.footer .small_footer ._1cJlGq {
    margin-top: 30px;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    font-size: 13px;
}

.footer ul li a {
    text-decoration: none;
    color: aliceblue;
}

.footer ul li a:hover {
    color: black;
}